.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__avatar {
  box-sizing: content-box;
  width: 196px;
  height: 196px;
  border-radius: 50%;
  object-fit: cover;
  padding: 4px;
  background: var(--gradient-sunset);
  box-shadow: var(--shadow);
}