:root {
  --text: #ff003c;
  --text-h: #cca937;
  --bg: #f5f0e1;
  --border: #f2d9cd;
  --code-bg: #fbeee3;
  --accent: #ff7e5f;
  --accent-2: #6a89cc;
  --accent-bg: rgba(240, 64, 20, 0.12);
  --accent-border: rgba(255, 126, 95, 0.5);
  --social-bg: rgba(251, 238, 227, 0.6);
  --shadow:
    rgba(120, 53, 15, 0.12) 0 10px 15px -3px, rgba(120, 53, 15, 0.06) 0 4px 6px -2px;
  --gradient-sunset: linear-gradient(135deg, #02350e, #ff6f91, #6a89cc);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fafafa;
    --text-h: #BB0000;
    --bg: linear-gradient(235deg, #BB0000, #000000, #666666);;
    --border: #BB0000;
    --code-bg: #dbd5e6;
    --accent: #ff8c69;
    --accent-2: #7aa2f7;
    --accent-bg: rgba(0, 0, 0, 0.15);
    --accent-border: rgba(255, 140, 105, 0.5);
    --social-bg: rgba(58, 46, 66, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    --gradient-sunset: linear-gradient(130deg, #BB0000, #000000, #666666);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
